@import "updates"; // Style updates and additions for site components

// NationBuilder extensions
.module {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed;
}

// NationBuilder styles
img {
	max-width: 100%;
	height: auto;
}

.padtop {
	padding-top: $line-height-computed * .5;
}

.padbottom {
	padding-bottom: $line-height-computed * .5;
}

.padtopless {
	padding-top: $line-height-computed * .25;
}

.padbottomless {
	padding-bottom: $line-height-computed * .25;
}

.padtopmore {
	padding-top: $line-height-computed * .75;
}

.padbottommore {
	padding-bottom: $line-height-computed * .75;
}

.margintopless {
	margin-top: $line-height-computed * .5;
}

.margintop {
	margin-top: $line-height-computed * .75;
}

.margintopmore {
	margin-top: $line-height-computed;
}

.marginbottomless {
	margin-bottom: $line-height-computed * .5;
}

.marginbottom {
	margin-bottom: $line-height-computed * .75;
}

.marginbottommore {
	margin-bottom: $line-height-computed;
}

.center {
	text-align: center;
}

// Components
.main-container, .breadcrumb, .excerpt, .page-tags, .event-block, .event-map, .event-detail, .continue, .page-follow, .like-page {
	@extend .module;
}

.connect-button, .bar-goal {
	@extend .marginbottomless;
}

.byline, #slider-cards, .intro, .flag_form {
	@extend .marginbottommore;
}

.cc, .form-submit {
	@extend .margintopless;
}

.radio-inline, .checkbox-inline {
	@extend .marginbottom;
}

.carousel-inner > .item > img, .carousel-inner > .item > a >img, .header-image-container > img {
	width: 100%;
}

.notice {
	@extend .alert-warning;
}

.notice.success {
	@extend .alert-success;
}

.notice.info {
	@extend .alert-info;
}

.notice.error, .notice.danger {
	@extend .alert-danger;
}

.on-button-small, .off-button-small {
	@extend .label;
}

.on-button-small {
	@extend .label-success;
}

.off-button-small {
	@extend .label-danger;
}

footer {
	margin: 40px 0 20px 0;
}

.site-logo {
	padding: 15px 15px 15px 0;
}

.navbar-brand {
	height: auto;
}

.sidebar {
	& > div, & > div.media, & > ul {
		@extend .module;
	}
	.btn-group-vertical {
		display: block;
	}
}

.sharetable {
	& > div {
		display: inline-block;
		height: 20px;
		vertical-align: middle;
	}
}

.share-container.panel {
	@extend .margintopmore;
	margin-bottom: 0;
}

.share-close {
	margin-top: -.4em;
}

.reaction-wrap {
	.user-session-form-container {
		@extend .module;
	}
	.activities {
		margin: 5px 0;
	}
}

.panel {
	.excerpt-type {
		margin-top: -.2em;
	}
}

.media {
	.media-left {
		img {
			max-width: none;
		}
	}
}

.homepage-excerpt {
	& > div:last-child, & > a:last-child {
		margin-bottom: 0;
	}
}

.page-excerpt {
	&:last-of-type, &:last-child {
		& + hr {
			display: none;
		}
	}
}

.page-excerpts {
	& > li:last-child {
		& > hr:last-child {
			display: none;
		}
	}
}

.progress + .bar-goal {
	text-align: center;
	margin-top: -10px;
}

.page-follow {
	@extend .module;
	float: none;
	margin-top: auto;
}

.pagination-container {
	margin-top: $line-height-computed;
  border-top: 1px solid $hr-border;
}

.addreaction {
	margin-right: 5px;
}

// Forms
.radio-inline, .checkbox-inline {
	cursor: default;
	& > span {
		white-space: nowrap;
		display: inline-block;
	}
	label.radio, label.checkbox {
		cursor: pointer;
		display: inline-block;
		margin: 0 30px 0 0;
	}
}

.form-group  {
	& > select { // Workaround for not being able to attach class names to Liquid generated select boxes
		@extend .form-control;
		&[id*='_card_expires_on'] {
			width: auto;
			display: inline-block;
			margin-right: 5px;
			&:last-child, &:last-of-type {
				margin-right: 0;
			}
		}
	}
	label {
		display: block;
	}
	input + input {
		@extend .margintopless;
	}
}

input.text, .textarea {
	& ~ .submit-button {
		@extend .margintop;
	}
}

.user_session_form {
	#user_session_email {
		margin-bottom: 15px;
	}
	.or-create-account {
		display:block;
		margin-top:5px;
	}
}

#donation_amount_other {
	@extend .form-control;
	width: auto;
}

// Invoice pages
.invoices {
	.invoice-total, .amount {
		@extend .text-right;
	}
	.expander-sign {
		cursor: pointer;
	}
	.expander-content {
		display: none;
	}
}

.invoice-total {
	strong {
		font-size: $font-size-small;
		text-transform: uppercase;
	}
}

// Calendar pages
.within {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 15px 0;
}

.event-detail {
	.subtext .profile_image {
		margin-top: 5px;
		margin-right: 5px;
	}
}

.map img {
	max-width: none;
}

h6.subhead {
	margin-bottom: 0;
}

// Press release pages
.released-at {
	@extend .margintop;
}

// Moneybomb pages
#pledge_amount_other {
	@extend .form-control;
	width: auto;
	display: inline-block;
	margin-left: 5px;
}

// Suggestion box pages
#suggestion-page-form-expanded {
	display: none;
}

// Suggestion pages
.how-would-you-tag {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 15px 0;
}

// Profile pages
.profile-name, .people-name {
	display: inline-block;
	vertical-align: middle;
}

.profile-name {
	margin-bottom: 2px;
	margin-right: 3px;
}

// Follows/followers pages
.people-list-follow {
	.delete {
		margin-left: 3px;
		vertical-align: middle;
	}
}

.people-list {
	padding-top: 15px;
	border-top: 1px solid $hr-border;
	.media-body {
		width: 100%;
		padding: .5em .5em .5em 0;
	}
}

// Leaderboard
.leaderboard-rank {
	position: relative;
	display: block;
	float: left;
	margin: -20px 0 0 4px;
}

@media (min-width: $screen-sm-min) {

	.page-follow {
		float: right;
		margin-top: -32px;
	}

	.reaction-wrap {
		.review-rules {
			text-align: right;
		}
	}

	.people-list-follow {
		float: right;
		text-align: right;
	}

	.user_session_form {
		#user_session_email {
			margin-bottom: 0;
		}
		.or-create-account {
			display:inline;
		}
	}

}
