html, body {
  height: 100%;
}

.home-header {
  min-height: 606px; // can be bigger if signup form rise
  .background {
    margin: auto;
    padding-top: 20px;
    margin-bottom: -150px; // for the signup form to rise
    background-color: $gray-lighter;
    background-size: cover;
    background-position: center;
    border-bottom: 40px solid $brand-secondary;
    padding-bottom: 110px;

    .container-menu {
      height: 100%;
      color: #fff;

      .logo {
        @include make-xs-column(6);
        @include make-sm-column(8);
        @include make-md-column(9);
        img {
          height:50px;
          width:auto;
        }
      }

      .login_button {
        @include make-xs-column(6);
        @include make-sm-column(4);
        @include make-md-column(3);
      }

      .row-menu {
        position: relative;
      }

      .menu {
        @include make-xs-column(6);
        @include make-sm-column(3);
        & > .menu {
          @extend .nav-pills;
          @extend .nav-stacked;
          & > li {
            a {
              font-family: $font-family-sans-serif;
              text-transform: lowercase;
              font-weight: bolder;
              width: auto;
              margin: auto;
              display: inline-block;
              background: none;
            }
            & > a {
              color: #fff;
              &:hover {
                background-color: rgba($gray-lighter, 0.3);
              }
            }
          }
        }
      }

      .subheadline {
        @include make-xs-column(6);
        @include make-sm-column(8);
        @include make-sm-column-offset(1);
        @include make-md-column(7);
        @include make-md-column-offset(2);
        @include make-lg-column(6);
        @include make-lg-column-offset(3);
        font-size: $font-size-h3;
        color: inherit;
        font-family: $font-family-serif;
        position: absolute;
        bottom: 20px;
        right: 0;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
        @media (min-width: $screen-sm-min) {
          font-size: $font-size-h1;
          bottom: 50px;
        }
      }


    }
  }

  .container-signup > .row > .card {
    min-height: 280px;
  }
}

body.slug-home > .main-container > .main.container {
  width: inherit;
  margin-bottom: -40px;
}

.custom-home-grid.row {
  .col-sm-6 {
    padding: 0px;
  }

  a {
    display:block;
    position:relative;

    & > * {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0

    }

    &:before {
      display:block;
      content:"";
      width:100%;
      padding-top:56.25%;
    }
  }

  a > .custom-home-grid-background-block {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.5);
    text-align:center;
    z-index:20;

    & > h3 {
      vertical-align:middle;
      display:inline-block;
      color:#fff;
      margin:auto;
    }
  }

  a > .custom-home-grid-background-block:before {
    content:'';
    height:100%;
    vertical-align:middle;
    margin-right:-.25em;
    display:inline-block;
  }

  a:hover {
    & > .custom-home-grid-background-block {
      background-color:rgba(0,0,0,.35);
      & > h3 {
        color:#fff;
      }
    }
  }
}
